<!DOCTYPE html>
<html >

<head>
 <meta charset="UTF-8">
<title>Thyroid Prediction</title>
 
  
</head>

<body>
 <div >
	<h1>Thyroid Disease Predictor</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <div>
    <form action="{{ url_for('predict')}}"   method="post">
       <input type="number" name="TT4" placeholder="TT4" id = "TT4"  step = "0.1" min = "2" max ="200" required="required" /><br>
       <input type="number" name="FTI" placeholder="FTI" id ="FTI" step = "0.1" min = "2" max ="200" required="required" /><br>
        <input type="number" name="T3" placeholder="T3" id = "T3"  step = "0.001" min = "0" max ="12" required="required" /><br>
        <input type="number" name="T4U" placeholder="T4U" id = "T4U" step = "0.0001" min = "0" max ="3" required="required" /><br>
        <input type="number" name="age" placeholder="age"  id = "age" min = "1" max ="100"  required="required" /><br>
        <input type="radio" name="sex" value="1"/>Males
        <input type="radio" name="sex" value="0"/>Female
      <br>
      <button type="submit" >Predict</button>
    </form>


    </div>
    
      
        

       

    
   <br>
   <br>
  
   
 </div>
 <h1>{{prediction_text}}</h1>

</body>
</html>